/* body {
  overflow-y: hidden;
} */
@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Medium.eot");
  src: local("/fonts/TT Lakes Medium"), local("/fonts/TTLakes-Medium"),
    url("/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/TTLakes-Medium.woff2") format("woff2"),
    url("/fonts/TTLakes-Medium.woff") format("woff"),
    url("/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  min-width: 428px;
  max-width: 1920px;
  padding: 0px;
  font-family: "TT Lakes";
  background-color: #f8f8f8;
  margin: 0 auto;
}
ul {
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

#wrapper {
  min-width: 320px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
.header{
  padding-bottom: 10px;
  background-image: linear-gradient(0.25turn, #F8F8F8, #FFFFFF);
}
.header__text{
  text-transform: uppercase;
  font-size: 18px;
  word-spacing:-1px; 
  color: #7e7e82;
  font-weight: 100;
  min-width: 288px;
  max-width: 310px;
  padding: 10px;
  text-align: justify;
}
.swiper{
  max-width: 680px;
  margin-top: 20px;
}
.swiper-container {
  position: relative;
  margin-top: -50px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #dddddd;
  opacity: 1;
}
.swiper-slide{
  margin-top: 40px;
  padding:30px 0px 50px 5px;
  display: block;
}
.swipe_img {
  height: fit-content;
  margin-top: 5px;
}
.swiper-card{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 320px;
  height: 75px;
  padding: 30px 20px 0px 15px;
  border-radius: 15px;
  border: 1px solid #eaeaea;
}
.swiper-pagination-bullet-active {
  background: #b5b6bc;
}
.swiper-button-next {
  position: absolute;
  cursor: default;
  visibility: hidden;
}
.swiper-button-next:after {
  background-color: white;
  z-index: 5;
  position: absolute;
  font-size: 18px;
  font-weight: 1000;
  color: #ff3e79;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  padding: 13px 18px;
  margin-left: -250px;
  cursor: pointer;
  visibility: visible;
}
.hiden {
  display: none;
  padding: 50px;
}
.hiden__list_item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 15px;
  border: 1px solid #eaeaea;
  padding: 20px;
}
.hiden__list_item > .fit {
  height: fit-content;
}
.hiden__list_item__button {
  transition: 1s;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  padding: 16px 18px;
  width: 10px;
  cursor: pointer;
  height: 15px;
  text-decoration: none;
  color: #ff3e79;;
  font-size: 24px;
}
.swiper-slide-next{
  margin-left: -50px;
}
.top{
  margin-top: -5px;
}
#myButton{
  padding-left: 20px;
}
.img{
  margin-bottom: 50px;
  height: 16px;
}
.hiden__list > button {
  margin-left: 40px;
  padding: 10px;
}
.hover:hover{
  transition: 1s;
  cursor: pointer;
  margin-top: -15px;
}
.hid {
  display: none;
}
.hiden__list__button {
  transition: 0.5s;
  display: none;
  align-items: center;
  background-color: transparent;
  border: 0px;
  margin-top: 30px;
}
.hiden__list__button:hover{
  transition: 0.5s;
  margin-right: -5px;
}
.hiden__list__button > .margin {
  margin-right: 10px;
}
@media (width > 669px) {
  #wrapper {
    min-width: 768px;
    max-width: 1100px;
    overflow: hidden;
    margin: 0 auto;
  }
  .swiper{
    margin: 10px 0px 20px 40px;
  }
  .hiden {
    display: block;
    padding-right: 50px;
  }
  .header__text{
    min-width: 768px;
    max-width: 1100px;
    margin-left: 45px;
  }
  .hiden__list__button{
    margin-left: 45px;
    display: flex;
  }
  button:hover {
    cursor: pointer;
  }
  .swiper-pagination{
    display: none;
  }
  .swiper-slide-next{
    margin-left: 0px;
  }
  .swiper{
    max-width: 800px;
  }
  .swiper-card{
    min-width: 180px;
    max-width: 220px;
  }
  .swiper-slide{
    padding-bottom: 0px;
    padding-top: 10px;
  }
  .swiper-grid>.swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    gap: 0px;
  }
  
}
@media (width > 900px) {
  #wrapper {
    min-width: 1120px;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
  }
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .header__text{
    min-width: 1120px;
    max-width: 1920px;
  }
  .swiper-card{
    min-width: 220px;
    max-width: 120px;
  }
  .swiper-grid>.swiper-wrapper {
    grid-template-columns: repeat(3, 320px);
    gap: 0px;
  }
  .swiper{
    margin-left: 40px;
    max-width: 1280px;
  }
}
@media (width > 1280px) {
  .swiper{
    margin: 0 auto;
  }
  .swiper-grid>.swiper-wrapper {
    grid-template-columns: repeat(4, 320px);
    gap: 0px;
  }
}
